/bin/
/vendor/
/hooks/

composer.lock


# IDE (SublimeText, Eclipse, Zend Studio, Netbeans, PHPStorm, TextMate2)
Capfile
.buildpath
.idea
nbproject
.project
.settings
.sublime-project
.tm_properties
TextMate2

# Backup files
*~*